.contactUsHeader {
    display: flex;
    align-items: center;
    background: #003696;
    color: white;
    padding-left: 25px;
    margin: 0 0 45px 0;
    min-height: 165px;
    font-size: 3rem;
    font-weight: 400;
    background-image: linear-gradient(to left, #dee8f5, #003696);
}

.contactMethods {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contactFormContainer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}



.contactForm {
    display: flex;
    width: 60vw;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

/* .contactForm textarea {
    height: 150px;
    width: auto;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    resize: none;
    
} */



.formTextBoxesContainer {
    display: flex;
    width: 40vw;
    height: 4.5rem;
    justify-content: space-around;
    flex-flow: row wrap;
}

.formTextBoxesContainer input {
    
            
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 2rem;
    width: 48%;
    background: #fff;
    /* margin-bottom: .5rem; */
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 0.5rem;
    color: #555;
        
}

.formMessageAndSubmit {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
}

.formMessageAndSubmit textarea {
    font-family: "Poppins";
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 7px;
    height: 4.2rem;
    width: 39vw;
    resize: none;
}

.formMessageAndSubmit button {
    font-family: "Poppins";
    background: #003696;
    color: white;
    width: 45%;
    cursor: pointer;
}