@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Rubik+Iso&display=swap');

#topBar {
  position: fixed;
  top: 0;
  left: 0;
  width:  100%;
  background: #dee8f5;
  transition: .25s ease-in-out;
  z-index: 1025;
}

#topBar .container {
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .25s ease-in-out;
  position: relative;
  padding-right: 20px
}

#logo {
  padding-left: 15px;
}



.topBarNav {
  display: flex;
  flex-direction: row;
}

.menuItems {
  display: flex;
}



.menuItemsList {
    display: flex;
}



.menuItem {
  color: black;
  text-decoration: none;
  border-radius: 2px;
  padding: 9px;
  transition: all 0.5s ease;
}

.menuItem:hover {
  font-size: 1.2rem;
  border-bottom: 5px solid #003696;
  cursor: pointer;
}

.menuItem:visited {
  color: black;
}

.heroContainer {
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 60px;
}

.ny {
  width: 100vw;
  height: auto;
}

/* .heroTextContainer {
  display: flex;
  justify-content: center;
} */

.heroText {
  font-family: "Poppins";
  position: absolute;
  width: 100vw;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heroTextSub {
  font-family: "Poppins";
  position: absolute;

  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  /* background-color: rgba(209,232,232,0.4); */
  font-size: 1.3rem;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}