.recruitmentHeader {

    display: flex;
    align-items: center;
    background: #003696;
    color: white;
    padding-left: 25px;
    margin: 0 0 0px 0;
    min-height: 165px;
    font-size: 3rem;
    font-weight: 400;
    background-image: linear-gradient(to left, #dee8f5, #003696);


}


.infoContainer {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55vh;
    background-image: linear-gradient(to bottom right, #dee8f5, #afafaf);

}



.infoLeftDiv {
    border: white; 
}

.infoLeftDiv:hover {
    transition: .25s;
    background-color: #003696;
    color: #fff
}

.infoRight {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 55vw;
    font-size: 1.5rem;
}